In [19]:
# Create vector
v = c(1,2,20,12,33,21,22,1,7,1,2,21,7,2,3,7,4,5,20,1)
v

 [1]  1  2 20 12 33 21 22  1  7  1  2 21  7  2  3  7  4  5 20  1

In [3]:
# Use vector to create matrix
m = matrix(v,nrow=4,ncol=5,byrow=T)
m

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2   20   12   33
[2,] 21   22    1    7    1
[3,]  2   21    7    2    3
[4,]  7    4    5   20    1

In [4]:
# Create data frame and name columns
d = data.frame(m)
names(d)<-c("fea1","fea2","fea3","fea4","fea5")
d

  fea1 fea2 fea3 fea4 fea5
1  1    2   20   12   33
2 21   22    1    7    1
3  2   21    7    2    3
4  7    4    5   20    1

In [5]:
# Create large row sum function
findLargeRowSum <- function(frame){
    # accepts a data frame, returns largest row as tuple (sum, index)
    sums <- apply(frame,1,sum)
    return(c(max(sums), which(sums==max(sums))))
}

findLargeRowSum(d)

[1] 68  1

In [9]:
# Use apply to find mean value of each row and each column
apply(d,c(1,2),mean)
apply(d,2,mean)

     fea1 fea2 fea3 fea4 fea5
[1,]  1    2   20   12   33
[2,] 21   22    1    7    1
[3,]  2   21    7    2    3
[4,]  7    4    5   20    1

 fea1  fea2  fea3  fea4  fea5
 7.75 12.25  8.25 10.25  9.50

In [12]:
# # Use apply to find factors of each number
# get_factors <- function(x){
#     vals <- NULL
    
#     # Naive approach to factorization
#     for (val in 1:x){
#         if (x %% val == 0){
#             cat(val,"")
#             vals <- c(vals, val)
#         }
        
#     }
#     cat("\n")
#     return(vals)
# }

# Use apply to find factors of each number
get_factors <- function(x){
    vals <- NULL
    
    for(val in 1:x){
        if(x %% val == 0){
            cat(val,"") 
            vals <- c(vals, val)
        }
    }
    cat("\n")
    return(vals)
}

apply(d,c(1,2), get_factors)

1
1 3 7 21
1 2
1 7
1 2
1 2 11 22
1 3 7 21
1 2 4
1 2 4 5 10 20
1
1 7
1 5
1 2 3 4 6 12
1 7
1 2
1 2 4 5 10 20
1 3 11 33
1
1 3
1

     fea1        fea2         fea3               fea4
[1,] 1           1, 2         1, 2, 4, 5, 10, 20 1, 2, 3, 4, 6, 12
[2,] 1, 3, 7, 21 1, 2, 11, 22 1                  1, 7
[3,] 1, 2        1, 3, 7, 21  1, 7               1, 2
[4,] 1, 7        1, 2, 4      1, 5               1, 2, 4, 5, 10, 20
     fea5
[1,] 1, 3, 11, 33
[2,] 1
[3,] 1, 3
[4,] 1

In [39]:
# Create dataframe A and B
A <- data.frame(d[["fea1"]],d[["fea3"]])
B <- data.frame(d[["fea2"]],d[["fea4"]])
A
B

  d...fea1... d...fea3...
1  1          20
2 21           1
3  2           7
4  7           5

  d...fea2... d...fea4...
1  2          12
2 22           7
3 21           2
4  4          20

In [55]:
# Calculate the multiplication of matrix A and the tranpose of matrix B
data.matrix(A) %*% t(B)

     [,1] [,2] [,3] [,4]
[1,] 242  162   61  404
[2,]  54  469  443  104
[3,]  88   93   56  148
[4,]  74  189  157  128